body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}

header {
    background-color: #978e8e;
    color: #000000;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

/* Media queries */
/* <= 767px */
@media screen and (max-width: 767px) {
    .menu {
        display: none;
        flex-direction: column;
    }

    .hamburger {
        display: block;
    }
}
.section {
    background-color: #88c1d0;
    padding: 20px;
    margin: 10px;
}

/* >= 1600px */
@media screen and (min-width: 1600px) {
    .section {
        display: inline-block;
        width: 17%;
    }
}

/* 768px à 1599px */
@media screen and (min-width: 768px) and (max-width: 1599px) {
    .section {
        display: inline-block;
        width: 30%;
    }
}

/* <= 767px */
@media screen and (max-width: 767px) {
    .section {
        display: block;
        width: 50%;
    }
}